* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    /* border: 1px solid; */
}

a {
    text-decoration: none;
}
/* Header & Navbar */

.navbar {
    background-color: rgb(7, 10, 82);
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav1 {
    width: 25%;
}

.nav2 {
    width: 46%;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.nav2 a {
    margin: 1%;
    font-size: 1.3vw;
}

.logo {
    width: 4rem;
    height: 2rem;
    margin: 5%;
}

.menu {
    display: none; 
    text-decoration: none;
    font-size: 1.3vw;
    margin: 1%;
    
}

/* Body */
body {
    background-color: black;
}


/* Intro */

.intro {
    display: flex;
    justify-content: space-between;
    margin: 10% 10%;
    font-size: 1.25vw;
}

.intro h1, .intro h4 {
    color: white;
    margin-top: 8%;
}

.intro1 {
    width: 50%;
    margin-left: 12%;
}
.intro2{
    margin-left: 20%;
    margin-right: 0;
}
.p-img {
    width: 60%; 
    height: 100%;
}

.intro1 button {
    border-radius: 5%;
    border-style: none;
    background-color: rgb(7,10,82);
    text-decoration: none;
    font-size: 3vh;
    margin: 10% 0;
    padding: 3%;
    color: white;
}

/* Containers */

#edu, #projs, #skills, h2 {
    background-color: rgb(7, 10, 82);
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.5%;
    margin: 5% 10%;
}

h2 {
    display: inline-block;
    margin: 0 47.5%;
}

/* Objectives */

#objs {

}

#objs h2 {
    font-family: 'Charm', cursive;
}
#objs li {
    margin: 5%;
    margin-left: 5%;
    list-style-type: none;
}

/* Education */

#edu {
    display: flex;
    justify-content: space-around;
}

.edu1, .edu2 {
    padding-top: 3%;
    display: block;
  
  }

  .pic img {
    width: 7rem;
    height: 7rem;
  }


  /* Projects  */
    #projs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 3% 5%;

    }

  /* Experience  */

  #skills {
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        padding: 3% 10%;
  }

  #skills img {
    width: 30%;
  }

  #skills .sql {
    margin-top: 10%;
  }

  /* Footer */

  #footer {
    padding: 0.5%;
    padding-left: 5%;
    margin: 5% 10%;
    width: 80%;
    background-color: rgb(7, 10, 82);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

 #footer h3 {
    margin: 5%;
    font-size: 2vw;
 }

.social-content {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-top: 7.3%;
    width: 100%;
}
  .social-content i {
    margin: 30%;
    font-size: 2vw;
  }

  #footer .logo1 {
    width: 10%;
    margin: 20% 60%;

  }

  @media only screen and (max-width: 927px) {
    .nav2 {
      width: 20%;
  
      & a {
        display: none !important;
        color: ;
      }
  
      & .menu {
        display: block !important;
        background-color: rgb(7, 10, 82);
        color: white;
      }
    }

    .intro {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin: 10% 10%;
    font-size: 2vw;
    }

  }